Repository LinuxForHealth/FHIR, pull requests merged in 2021-02, with the labels that each got.

#1889 Issue #1273 - Handle versioned refs in chain, include searches
  docs/src/pages/Conformance.md
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/util/InclusionQuerySegmentAggregator.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/util/JDBCQueryBuilder.java
  fhir-persistence-jdbc/src/test/java/com/ibm/fhir/persistence/jdbc/test/JDBCReverseChainTest.java
  fhir-persistence-jdbc/src/test/java/testng.xml
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/FhirResourceTableGroup.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/FhirSchemaVersion.java
  fhir-persistence/src/test/java/com/ibm/fhir/persistence/test/common/AbstractIncludeRevincludeTest.java
  fhir-persistence/src/test/java/com/ibm/fhir/persistence/test/common/AbstractReverseChainTest.java
  fhir-server-test/src/test/java/com/ibm/fhir/server/test/SearchChainTest.java
  fhir-server-test/src/test/java/com/ibm/fhir/server/test/SearchReverseChainTest.java
  fhir-server-test/src/test/java/com/ibm/fhir/server/test/SearchTest.java
  fhir-server/src/main/java/com/ibm/fhir/server/util/FHIRRestHelper.java
Labels: schema-change

#1898 delete unused Authorization ServletFilter
  fhir-config/src/main/java/com/ibm/fhir/config/FHIRConfiguration.java
  fhir-server-webapp/src/main/webapp/WEB-INF/web.xml
  fhir-server/src/main/java/com/ibm/fhir/server/filter/rest/FHIRRestAuthorizationServletFilter.java
Labels: rest-layer

#1903 Unify PostgreSQL/Postgres naming convention for packages and classes
  fhir-bucket/src/main/java/com/ibm/fhir/bucket/app/Main.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/common/AddColumn.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/model/SmallIntColumn.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/postgres/PostgresAdapter.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/postgres/PostgresDoesTableExist.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/postgres/PostgresPropertyAdapter.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/postgres/PostgresTranslator.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/postgresql/PostgreSqlPropertyAdapter.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/FHIRResourceDAOFactory.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/impl/ParameterDAOImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/derby/DerbyResourceReferenceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/FhirRefSequenceDAOImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/FhirSequenceDAOImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresCodeSystemDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresParameterNamesDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresReindexResourceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresResourceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresResourceNoProcDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresResourceReferenceDAO.java
  fhir-persistence-jdbc/src/test/java/com/ibm/fhir/persistence/jdbc/test/spec/Main.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/app/Main.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/app/util/CommonUtil.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/patch/Main.java
  fhir-persistence-schema/src/test/java/com/ibm/fhir/schema/app/JavaBatchSchemaGeneratorTest.java
Labels: persistence, postgres

#1914 fix: documentation site build failed due to plugin-transform-spread change
  docs/package-lock.json
  docs/package.json
Labels: automation, documentation

#1901 Convert ImportOperation Parameter Processing to use FHIR Path #951
  operation/fhir-operation-bulkdata/src/main/java/com/ibm/fhir/operation/bulkdata/ImportOperation.java
  operation/fhir-operation-bulkdata/src/main/java/com/ibm/fhir/operation/bulkdata/util/BulkDataImportUtil.java
  operation/fhir-operation-bulkdata/src/test/java/com/ibm/fhir/operation/bulkdata/util/BulkDataImportUtilTest.java
Labels: bulk-data

#1882 Import Bulk Data #1880
  docs/src/pages/guides/FHIRServerUsersGuide.md
  fhir-bulkimportexport-webapp/src/main/java/META-INF/batch-jobs/FhirBulkImportChunkJob.xml
  fhir-bulkimportexport-webapp/src/main/java/com/ibm/fhir/jbatch/bulkdata/common/Constants.java
  fhir-bulkimportexport-webapp/src/main/java/com/ibm/fhir/jbatch/bulkdata/load/ChunkReader.java
  fhir-bulkimportexport-webapp/src/main/java/com/ibm/fhir/jbatch/bulkdata/load/ChunkWriter.java
  fhir-bulkimportexport-webapp/src/main/java/com/ibm/fhir/jbatch/bulkdata/load/ImportJobListener.java
  fhir-bulkimportexport-webapp/src/main/java/com/ibm/fhir/jbatch/bulkdata/load/ImportPartitionAnalyzer.java
  fhir-bulkimportexport-webapp/src/main/java/com/ibm/fhir/jbatch/bulkdata/load/ImportPartitionCollector.java
  fhir-bulkimportexport-webapp/src/main/java/com/ibm/fhir/jbatch/bulkdata/load/ImportPartitionMapper.java
  fhir-config/src/main/java/com/ibm/fhir/config/FHIRConfiguration.java
  fhir-config/src/main/java/com/ibm/fhir/config/FHIRRequestContext.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/connection/FHIRUserTransactionAdapter.java
  fhir-persistence-jdbc/src/test/java/com/ibm/fhir/persistence/jdbc/test/connection/FHIRUserTransactionAdapterTest.java
  fhir-persistence/src/main/java/com/ibm/fhir/persistence/context/FHIRPersistenceContext.java
  fhir-persistence/src/main/java/com/ibm/fhir/persistence/context/FHIRPersistenceContextFactory.java
  fhir-persistence/src/main/java/com/ibm/fhir/persistence/context/impl/FHIRPersistenceContextImpl.java
  fhir-persistence/src/main/java/com/ibm/fhir/persistence/helper/FHIRTransactionHelper.java
  fhir-server-test/src/test/java/com/ibm/fhir/server/test/bulkdata/ImportOperationTest.java
  fhir-server-test/src/test/resources/testdata/import-operation/test-import.ndjson
  operation/fhir-operation-bulkdata/src/main/java/com/ibm/fhir/operation/bulkdata/client/BulkDataClient.java
  operation/fhir-operation-bulkdata/src/main/java/com/ibm/fhir/operation/bulkdata/util/BulkDataImportUtil.java
Labels: bulk-data

#1932 FHIRNotificationService should emit event for delete #983
  fhir-notification/src/main/java/com/ibm/fhir/notification/FHIRNotificationService.java
Labels: fhir-notification

#1919 FHIRNotificationEvent does not support multi-tenancy #1206
  fhir-notification/src/main/java/com/ibm/fhir/notification/FHIRNotificationEvent.java
  fhir-notification/src/main/java/com/ibm/fhir/notification/FHIRNotificationService.java
  fhir-notification/src/main/java/com/ibm/fhir/notification/util/FHIRNotificationUtil.java
  fhir-persistence/src/main/java/com/ibm/fhir/persistence/interceptor/impl/FHIRPersistenceInterceptorMgr.java
Labels: fhir-notification

#1934 Audit Optimizations #1805 and #1933
  docs/src/pages/guides/FHIRServerUsersGuide.md
  fhir-audit/src/main/java/com/ibm/fhir/audit/mapper/impl/CADFMapper.java
  fhir-config/src/main/java/com/ibm/fhir/config/FHIRConfiguration.java
  fhir-core/src/main/java/com/ibm/fhir/core/util/handler/HostnameHandler.java
  fhir-core/src/main/java/com/ibm/fhir/core/util/handler/IPHandler.java
  fhir-core/src/main/java/com/ibm/fhir/exception/FHIRException.java
  fhir-core/src/test/java/com/ibm/fhir/core/test/IpHostnameHandlerTest.java
  fhir-server/src/main/java/com/ibm/fhir/server/util/RestAuditLogger.java
Labels: audit

#1943 Update FHIRServerUsersGuide.md
  docs/src/pages/guides/FHIRServerUsersGuide.md
Labels: documentation, fhir-notification

#1944 doc: change the environment variables
  fhir-server/liberty-config/configDropins/disabled/db2-cloud/bulkdata.xml
  fhir-server/liberty-config/configDropins/disabled/db2/bulkdata.xml
  fhir-server/liberty-config/configDropins/disabled/postgres/bulkdata.xml
Labels: automation

#1942 Automated e2e integration tests for the fhir-notification module #1936
  .github/workflows/notification.yml
  build/notifications/.gitignore
  build/notifications/README.md
  build/notifications/bin/gather-logs.sh
  build/notifications/bin/integration-test.sh
  build/notifications/bin/post-integration-test.sh
  build/notifications/bin/pre-integration-test.sh
  build/notifications/bin/setup-prerequisites.sh
  build/notifications/kafka/.fhir.env
  build/notifications/kafka/.kafka-1.env
  build/notifications/kafka/.kafka-2.env
  build/notifications/kafka/.zookeeper-1.env
  build/notifications/kafka/.zookeeper-2.env
  build/notifications/kafka/README.md
  build/notifications/kafka/docker-compose.yml
  build/notifications/kafka/integration-test.sh
  build/notifications/kafka/post-integration-test.sh
  build/notifications/kafka/pre-integration-test.sh
  build/notifications/kafka/resources/broker1-ca1-signed.crt
  build/notifications/kafka/resources/broker1.csr
  build/notifications/kafka/resources/broker1_keystore_creds
  build/notifications/kafka/resources/broker1_sslkey_creds
  build/notifications/kafka/resources/broker1_truststore_creds
  build/notifications/kafka/resources/broker2-ca1-signed.crt
  build/notifications/kafka/resources/broker2.csr
  build/notifications/kafka/resources/broker2_keystore_creds
  build/notifications/kafka/resources/broker2_sslkey_creds
  build/notifications/kafka/resources/broker2_truststore_creds
  build/notifications/kafka/resources/client-ssl.properties
  build/notifications/kafka/resources/consumer-ca1-signed.crt
  build/notifications/kafka/resources/consumer.csr
  build/notifications/kafka/resources/consumer_keystore_creds
  build/notifications/kafka/resources/consumer_sslkey_creds
  build/notifications/kafka/resources/consumer_truststore_creds
  build/notifications/kafka/resources/get_results.sh
  build/notifications/kafka/resources/kafka.broker1.keystore.jks
  build/notifications/kafka/resources/kafka.broker1.truststore.jks
  build/notifications/kafka/resources/kafka.broker2.keystore.jks
  build/notifications/kafka/resources/kafka.broker2.truststore.jks
  build/notifications/kafka/resources/kafka.consumer.keystore.jks
  build/notifications/kafka/resources/kafka.consumer.truststore.jks
  build/notifications/kafka/resources/kafka.producer.keystore.jks
  build/notifications/kafka/resources/kafka.producer.truststore.jks
  build/notifications/kafka/resources/producer-ca1-signed.crt
  build/notifications/kafka/resources/producer.csr
  build/notifications/kafka/resources/producer_keystore_creds
  build/notifications/kafka/resources/producer_sslkey_creds
  build/notifications/kafka/resources/producer_truststore_creds
  fhir-notification/src/main/java/com/ibm/fhir/notification/FHIRNotificationService.java
  fhir-notification/src/main/java/com/ibm/fhir/notification/util/FHIRNotificationUtil.java
  fhir-server/liberty-config/config/default/fhir-server-config-notifications-cicd.json
  notification/fhir-notification-kafka/src/main/java/com/ibm/fhir/notifications/kafka/impl/FHIRNotificationKafkaPublisher.java
Labels: automation, fhir-notification

#1945 Issue 1929 improve performance of token-based searches
  docs/src/pages/guides/FHIRPerformanceGuide.md
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/FHIRPersistenceJDBCCache.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/FHIRResourceDAOFactory.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/JDBCConstants.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/cache/CommonTokenValuesCacheImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/cache/FHIRPersistenceJDBCCacheImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/ReindexResourceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/api/ICommonTokenValuesCache.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/api/IResourceReferenceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/api/JDBCIdentityCache.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/impl/JDBCIdentityCacheImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/impl/ResourceDAOImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/impl/ResourceReferenceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/derby/DerbyResourceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dto/CommonTokenValueResult.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/impl/FHIRPersistenceJDBCImpl.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresResourceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresResourceNoProcDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/util/JDBCQueryBuilder.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/FhirResourceTableGroup.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/FhirSchemaVersion.java
  fhir-persistence-schema/src/test/java/com/ibm/fhir/schema/derby/DerbyMigrationTest.java
  fhir-persistence/src/main/java/com/ibm/fhir/persistence/util/AbstractQueryBuilder.java
  fhir-persistence/src/test/java/com/ibm/fhir/persistence/test/common/AbstractPersistenceTest.java
  fhir-search/src/main/java/com/ibm/fhir/search/reference/ReferenceParameterHandler.java
  fhir-search/src/main/java/com/ibm/fhir/search/reference/value/CanonicalUrlHandlerImpl.java
  fhir-search/src/main/java/com/ibm/fhir/search/reference/value/IdHandlerImpl.java
  fhir-search/src/main/java/com/ibm/fhir/search/reference/value/ParameterValueHandler.java
  fhir-search/src/main/java/com/ibm/fhir/search/reference/value/TypeIdHandlerImpl.java
  fhir-search/src/main/java/com/ibm/fhir/search/reference/value/UrlHandlerImpl.java
  fhir-search/src/main/java/com/ibm/fhir/search/util/ReferenceUtil.java
  fhir-search/src/main/java/com/ibm/fhir/search/util/SearchUtil.java
  fhir-search/src/test/java/com/ibm/fhir/search/parameters/SearchParameterRestrictionTest.java
  fhir-search/src/test/java/com/ibm/fhir/search/reference/ExtractReferenceValueTest.java
  fhir-search/src/test/java/com/ibm/fhir/search/reference/ReferenceTypeTest.java
  fhir-search/src/test/java/com/ibm/fhir/search/sort/test/SortParameterParseTest.java
  fhir-search/src/test/java/com/ibm/fhir/search/test/BaseSearchTest.java
  fhir-server-test/src/test/java/com/ibm/fhir/server/test/SearchReferenceTest.java
Labels: schema-change

#1967 Bulk Data Client Fails with Fault on ReflectionUtil #1966
  fhir-install/Dockerfile
  fhir-install/src/main/resources/scripts/install.bat
  fhir-install/src/main/resources/scripts/install.sh
  fhir-parent/pom.xml
Labels: automation

#1960 Upgrade Pom.xml to latest versions of Dependencies #1959
  fhir-audit/pom.xml
  fhir-audit/src/test/java/com/ibm/fhir/audit/cadf/test/CadfModelTest.java
  fhir-bucket/pom.xml
  fhir-bulkimportexport-webapp/pom.xml
  fhir-config/pom.xml
  fhir-core/pom.xml
  fhir-model/pom.xml
  fhir-notification/pom.xml
  fhir-parent/pom.xml
  fhir-path/pom.xml
  fhir-persistence-jdbc/pom.xml
  fhir-persistence-proxy/pom.xml
  fhir-persistence-schema/pom.xml
  fhir-persistence/pom.xml
  fhir-provider/pom.xml
  fhir-search/pom.xml
  fhir-server-test/pom.xml
  fhir-server/pom.xml
  fhir-smart/pom.xml
  notification/fhir-notification-websocket/pom.xml
  operation/fhir-operation-apply/pom.xml
  operation/fhir-operation-bulkdata/pom.xml
  operation/fhir-operation-test/pom.xml
Labels: automation, security

#1900 Update Test Certificates to Expire in Year 2051
  build/audit/kafka/resources/broker1-ca1-signed.crt
  build/audit/kafka/resources/broker1.csr
  build/audit/kafka/resources/broker2-ca1-signed.crt
  build/audit/kafka/resources/broker2.csr
  build/audit/kafka/resources/consumer-ca1-signed.crt
  build/audit/kafka/resources/consumer.csr
  build/audit/kafka/resources/kafka.broker1.keystore.jks
  build/audit/kafka/resources/kafka.broker1.truststore.jks
  build/audit/kafka/resources/kafka.broker2.keystore.jks
  build/audit/kafka/resources/kafka.broker2.truststore.jks
  build/audit/kafka/resources/kafka.consumer.keystore.jks
  build/audit/kafka/resources/kafka.consumer.truststore.jks
  build/audit/kafka/resources/kafka.producer.keystore.jks
  build/audit/kafka/resources/kafka.producer.truststore.jks
  build/audit/kafka/resources/producer-ca1-signed.crt
  build/audit/kafka/resources/producer.csr
  build/certificates/.gitignore
  build/certificates/README.md
  build/certificates/copy-fhir-client.sh
  build/certificates/copy-kafka-client.sh
  build/certificates/copy-minio.sh
  build/certificates/copy-server.sh
  build/certificates/create-ca-and-certs.sh
  build/certificates/minio.conf
  build/certificates/server.conf
  build/certificates/update-audit-kafka.sh
  build/docker/minio/private.key
  build/docker/minio/public.crt
  build/notifications/kafka/resources/kafka.broker1.keystore.jks
  build/notifications/kafka/resources/kafka.broker1.truststore.jks
  build/notifications/kafka/resources/kafka.broker2.keystore.jks
  build/notifications/kafka/resources/kafka.broker2.truststore.jks
  build/notifications/kafka/resources/kafka.consumer.keystore.jks
  build/notifications/kafka/resources/kafka.consumer.truststore.jks
  build/notifications/kafka/resources/kafka.producer.keystore.jks
  build/notifications/kafka/resources/kafka.producer.truststore.jks
  fhir-client/src/test/resources/fhirClientKeyStore.p12
  fhir-client/src/test/resources/fhirClientTrustStore.p12
  fhir-persistence-scout/pom.xml
  fhir-server-test/src/test/resources/fhirClientKeyStore.p12
  fhir-server-test/src/test/resources/fhirClientTrustStore.p12
  fhir-server/liberty-config/resources/security/fhirKeyStore.p12
  fhir-server/liberty-config/resources/security/fhirTrustStore.p12
  fhir-server/liberty-config/resources/security/kafka.client.keystore.p12
  fhir-server/liberty-config/resources/security/kafka.client.truststore.p12
Labels: automation

#1988 Issue 1683 robin merged and fixed broken unit test
  fhir-client/src/main/java/com/ibm/fhir/client/FHIRClient.java
  fhir-client/src/main/java/com/ibm/fhir/client/impl/FHIRClientImpl.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/app/Main.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/BackfillResourceChangeLog.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/BackfillResourceChangeLogDb2.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/GetResourceChangeLogEmpty.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/SetTenantIdDb2.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/model/Schema.java
  fhir-persistence/src/test/java/com/ibm/fhir/persistence/test/common/AbstractChangesTest.java
  fhir-server-test/src/test/java/com/ibm/fhir/server/test/SystemHistoryTest.java
  fhir-server/src/main/java/com/ibm/fhir/server/util/FHIRRestHelper.java
Labels: ci-skip

#1995 Issue #1683 - wrap log.fine stmts, add testcases
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/impl/FHIRPersistenceJDBCImpl.java
  fhir-persistence/src/test/java/com/ibm/fhir/persistence/search/test/AbstractSearchCompositeTest.java
  fhir-persistence/src/test/resources/config/composite/extension-search-parameters.json
Labels: ci-skip

#2000 issue 1683 fixed db2 and postgres stored procs. Added 1958 is_deleted…
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/model/CharColumn.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/model/ColumnDefBuilder.java
  fhir-database-utils/src/main/java/com/ibm/fhir/database/utils/model/Table.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/dao/ReindexResourceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/derby/DerbyResourceDAO.java
  fhir-persistence-jdbc/src/main/java/com/ibm/fhir/persistence/jdbc/postgres/PostgresResourceNoProcDAO.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/app/Main.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/FhirResourceTableGroup.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/FhirSchemaVersion.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/GetLogicalResourceIsDeletedNeedsMigration.java
  fhir-persistence-schema/src/main/java/com/ibm/fhir/schema/control/InitializeLogicalIdIsDeleted.java
  fhir-persistence-schema/src/main/resources/db2/add_any_resource.sql
  fhir-persistence-schema/src/main/resources/postgres/add_any_resource.sql
  fhir-persistence-schema/src/test/java/com/ibm/fhir/schema/derby/DerbyFhirDatabaseTest.java
Labels: ci-skip
